{% extends "static_pages/base.html" %}
{% load static %}
{% block content %}
  <div class="gray_color">
    <div id="demo">
      <div class="container owl-bx home_banner_slider">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item banner_bg_one">
            <div class="slide_wrap">
              <div class="slide1">
                <div class="content_text">
                  <h1 class="titile_text">Amal</h1>
                  <p class="sub_txt">Kiska Dhram Bada</p>
                  <a href="#inline2" target="_blank" class="fancybox">Watch Video</a>
                  <div id="inline2" style="display:none;" class="popup_content">
                    <div class="form_main video_pop">
                      <iframe width="100%" height="360" src="https://www.youtube.com/embed/tSJaEuhiaqE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                      <div class="cf"></div>
                    </div>
                  </div>
                </div>
                <div class="film_bg"></div>
                <div class="black_strip">
                  <h1 class="titile_text">Amal</h1>
                  <p class="sub_txt">Kiska Dhram Bada</p>
                </div>
              </div>
            </div>
          </div>
          <div class="item banner_bg_two">
            <div class="slide_wrap">
              <div class="slide1">
                <div class="content_text">
                  <h1 class="titile_text">3 Talaaq</h1>
                  <p class="sub_txt">Ek anyaye</p>
                  <a href="#inline3" class="fancybox" target="_blank">Watch Video</a>
                  <div id="inline3" style="display:none;" class="popup_content">
                    <div class="form_main">
                      <div class="sub_section">
                        <div class="frm_inner">
                          <!--<iframe width="100%" height="360" src="https://www.youtube.com/embed/2tvy5dUbSno" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>-->
                        </div>
                      </div>
                      <div class="cf"></div>
                    </div>
                  </div>
                </div>
                <div class="film_bg"></div>
                <div class="black_strip">
                  <h1 class="titile_text">3 Talaaq</h1>
                  <p class="sub_txt">Ek anyaye</p>
                </div>
              </div>
            </div></div>
            <div class="item banner_bg_three">
              <div class="slide_wrap">
                <div class="slide1">
                  <div class="content_text">
                    <h1 class="titile_text">Comming Soon...</h1>
                    <p class="sub_txt">Kissan</p>
                    <a href="#" target="_blank">Comming Soon</a>
                  </div>
                  <div class="film_bg"></div>
                  <div class="black_strip">
                    <h1 class="titile_text">Comming Soon...</h1>
                    <p class="sub_txt">Kissan</p>
                  </div>
                </div>
              </div></div>
            </div>
          </div>
        </div>
        <div class="cf"></div>
      </div>
      <div class="home_content hom_abt">
        <div class="row">
          <div class="product_list">
            <h3>About us</h3>
            <p>We are a team of avid actors, directors, script-writers &amp; editors who have a 'Soch of Sahyog'. We strive towards brigding the gap between new talented artists and prospective filming units which spend immense amount of time and money to acquire the best. <a href="aboutus.html">Read More</a>
          </p>
        </div>
      </div>
      <div class="cf"></div>
    </div>
    <div class="home_content home_product">
      <div class="row">
        <div class="product_list">
          <span class="title-two">Our Team</span>
          <ul>
            <li>
              <div id="card1">
                <div class="front front-edit">
                  <div class="cir-one"><img src="{% static "images/rajeev-singh.png" %}"></div>
                  <div class="product_wrap">
                    <h2>Our Co-Founder</h2>
                    <p>RAJEEV SINGH</p>
                  </div>
                </div>
                <div class="back back-side-content">
                  <p>Rajeev Kumar Singh is an actor who brings with him an industry experience along with visionary thinking. He is the Managing Director and CEO of the Gabbar Entertainment. He has been a part of several feature &amp; short Bhojpuri movies.  Rajeev is one of the architects of our entertainment platform and holds strong belief in young talent.</p>
                </div>
              </div>
            </li>
            <li>
              <div id="card2">
                <div class="front front-edit">
                  <div class="cir-one"><img src="{% static "images/amal_banner.JPG" %}"></div>
                  <div class="product_wrap">
                    <h2>Our Founder</h2>
                    <p>Akhilesh Singh</p>
                  </div>
                </div>
                <div class="back back-side-content">
                  <p>coming soon</p>
                </div>
              </div>
            </li>
            <li>
              <div id="card3">
                <div class="front front-edit">
                  <div class="cir-one"><img src="{% static "images/director.jpg" %}"></div>
                  <div class="product_wrap">
                    <h2>Director</h2>
                    <p>Pran Nath</p>
                  </div>
                </div>
                <div class="back back-side-content">
                  <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div id="card4">
                <div class="front front-edit">
                  <div class="cir-one"><img src="{% static "images/amal_banner.JPG" %}"></div>
                  <div class="product_wrap">
                    <h2>Editor</h2>
                    <p>Vinod Prajapati</p>
                  </div>
                </div>
                <div class="back back-side-content">
                  <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="cf"></div>
    </div>
    <div class="cf"></div>
    <script>
    $(document).ready(function() {
    var owl = $("#owl-demo");
    owl.owlCarousel({
    navigation : true,
    pagination : false,
    singleItem : true,
    transitionStyle : "fade",
    autoPlay: 2000,
    stopOnHover : true
    });
    var owl = $("#owl-demo2");
    owl.owlCarousel({
    navigation : false,
    transitionStyle : "fade",
    items : 6,
    });
    //Select Transtion Type
    $("#transitionType").change(function(){
    var newValue = $(this).val();
    //TransitionTypes is owlCarousel inner method.
    owl.data("owlCarousel").transitionTypes(newValue);
    owl.data("owlCarousel2").transitionTypes(newValue);
    //After change type go to next slide
    owl.trigger("owl.next");
    });
    $(".menu_icon").click(function(){
    $(".small_menu").toggle(300);
    });
    });
    </script>
    <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'fancybox/jquery.fancybox.css' %}" media="screen" />
    <script type="text/javascript">
    $(document).ready(function() {
    /*
    *  Simple image gallery. Uses default settings
    */
    $('.fancybox').fancybox();
    /*
    *  Different effects
    */
    // Change title type, overlay closing speed
    $(".fancybox-effects-a").fancybox({
    helpers: {
    title : {
    type : 'outside'
    },
    overlay : {
    speedOut : 0
    }
    }
    });
    // Disable opening and closing animations, change title type
    $(".fancybox-effects-b").fancybox({
    openEffect  : 'none',
      closeEffect : 'none',
    helpers : {
    title : {
    type : 'over'
    }
    }
    });
    // Set custom style, close if clicked, change title type and overlay color
    $(".fancybox-effects-c").fancybox({
    wrapCSS    : 'fancybox-custom',
    closeClick : true,
    openEffect : 'none',
    helpers : {
    title : {
    type : 'inside'
    },
    overlay : {
    css : {
    'background' : 'rgba(238,238,238,0.85)'
    }
    }
    }
    });
    // Remove padding, set opening and closing animations, close if clicked and disable overlay
    $(".fancybox-effects-d").fancybox({
    padding: 0,
    openEffect : 'elastic',
    openSpeed  : 150,
    closeEffect : 'elastic',
    closeSpeed  : 150,
    closeClick : true,
    helpers : {
    overlay : null
    }
    });
    /*
    *  Button helper. Disable animations, hide close button, change title type and content
    */
    $('.fancybox-buttons').fancybox({
    openEffect  : 'none',
    closeEffect : 'none',
    prevEffect : 'none',
    nextEffect : 'none',
    closeBtn  : false,
    helpers : {
    title : {
    type : 'inside'
    },
      buttons : {}
    },
    afterLoad : function() {
    this.title = 'Image ' + (this.index + 1) + ' of ' + this.group.length + (this.title ? ' - ' + this.title : '');
    }
    });
    /*
    *  Thumbnail helper. Disable animations, hide close button, arrows and slide to next gallery item if clicked
    */
    $('.fancybox-thumbs').fancybox({
    prevEffect : 'none',
    nextEffect : 'none',
    closeBtn  : false,
    arrows    : false,
    nextClick : true,
    helpers : {
    thumbs : {
    width  : 50,
    height : 50
    }
    }
    });
    /*
    *  Media helper. Group items, disable animations, hide arrows, enable media and button helpers.
    */
    $('.fancybox-media')
    .attr('rel', 'media-gallery')
    .fancybox({
    openEffect : 'none',
    closeEffect : 'none',
    prevEffect : 'none',
    nextEffect : 'none',
    arrows : false,
    helpers : {
    media : {},
    buttons : {}
    }
    });
    /*
    *  Open manually
    */
    $("#fancybox-manual-a").click(function() {
    $.fancybox.open('1_b.jpg');
    });
    $("#fancybox-manual-b").click(function() {
    $.fancybox.open({
    href : 'iframe.html',
    type : 'iframe',
    padding : 5
    });
    });
    $("#fancybox-manual-c").click(function() {
    $.fancybox.open([
    {
    href : '1_b.jpg',
    title : 'My title'
    }, {
    href : '2_b.jpg',
    title : '2nd title'
    }, {
    href : '3_b.jpg'
    }
    ], {
    helpers : {
    thumbs : {
    width: 75,
    height: 50
    }
    }
    });
    });
    $("#card1").flip({
    axis: 'y',
    trigger: 'hover'
    });
    $("#card2").flip({
    axis: 'y',
    trigger: 'hover'
    });
    $("#card3").flip({
    axis: 'y',
    trigger: 'hover'
    });
    $("#card4").flip({
    axis: 'y',
    trigger: 'hover'
    });
    });
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% endblock %}