<div class="home_content footer_section">
  <div class="row">
    <div class="ftr_inner">
      <div class="ftr_left">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="aboutus.html">About us</a></li>
        </ul>
        <ul>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contactus.html">Contact Us</a></li>
        </ul>
        <ul>
          <li><a href="tnc.html">T&amp;C</a></li>
          <li><a href="privacy_policy.html">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="ftr_right">
        <p>&copy; Gabbar Entertainment | All Rights reserved 2018.</p>
        <div class="social_icon">
          <ul>
            <li><a href="#"><img src="images/fb_icon.png" alt=""/></a></li>
            <li><a href="#"><img src="images/twitter_icon.png" alt=""/></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="cf"></div>
</div>